extends layout.pug 

block content 
    h2 edit: #{video.title} (⌐■_■)
    form(method="POST")
        h4 change title of video
        input(name="title" type="text" placeholder="video title" value=video.title required)
        input(name="description" type="text" placeholder="video description" value=video.description required)
        input(name="hashtags" type="text" placeholder="video hashtags" value=video.hashtags.join() required)
        input(type="submit" value="save")
