extends layout
include mixins/video.pug

block content
    form(action="")
        input(type="text", name="title")
        button Search Video
    div 
        if videos 
            each video in videos 
                +video(video) 
